.menu-side-bar-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  border-left: 2px solid var(--second-color);
  position: fixed;
  right: 0;
}
.close-section {
  display: flex;
  justify-content: flex-start;
  direction: rtl;
  align-items: center;
  width: 70%;
  height: 50px;
}
.menu-close-btn {
  display: block;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
}
.menu-close-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35;
}

.menu-close-btn span svg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}


