.menu-side-bar-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  border-left: 2px solid var(--second-color);
  position: fixed;
  right: 0;
}
.close-section {
  display: flex;
  justify-content: flex-start;
  direction: rtl;
  align-items: center;
  width: 70%;
  height: 50px;
}
.menu-close-btn {
  display: block;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
}
.menu-close-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35;
}

.menu-close-btn span svg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.side-bar-btn {
  width: 70%;
  height: 50px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 12px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-bar-btn a {
  color: #fff;
}
.side-bar-span {
  margin-right: 3px;
}
/* .sidebar-title-container {
  width: 70%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  direction: rtl;
  align-items: center;
}
.side-bar-text {
  opacity: 0.5;
}
.category-length-badge {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  background-color: var(--second-color);
  color: rgb(237, 165, 165);
} */
.side-bar-category-box {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.side-bar-category-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 550;
  border-bottom: 3px solid var(--second-color);
  padding-bottom: 8px;
}
.category-items-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  max-height: 400px;
  overflow-y: scroll;
}
.category-items-container::-webkit-scrollbar {
  display: none;
}
.category-items-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
